.services-section {
    position: relative;
    padding: 60px 20px 100px;
    background-color: var(--bg-primary);
}

.services-grid {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
    max-width: 900px;
    margin: 0 auto;
}

.service-card {
    background: var(--bg-tertiary);
    /* border: 1px solid var(--main-color); */
    border: 1px solid var(--border-color);
    border-radius: 16px;
    padding: 28px 22px;
    text-align: center;
    transition: all 0.3s ease;

}

.service-card:hover {
    transform: translateY(-6px);
    box-shadow: 3px 3px 12px rgba(13, 134, 106, 0.35);
}

.service-icon {
    width: 65px;
    height: 65px;
    margin: 0 auto 18px;
    border-radius: 14px;
    background: rgba(39, 224, 179, 0.12);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: var(--main-color);
}

.service-card h4 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    color: var(--text-primary);
}

.service-card p {
    font-size: 14px;
    color: var(--text-secondary);
    line-height: 1.6;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 992px) {
    .services-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .services-grid {
        grid-template-columns: 1fr;
    }

    .service-card {
        padding: 22px 18px;
    }
}