.projects-section {
    padding: 50px 20px 100px;
    background-color: var(--bg-primary);
}

.projects-wrapper {
    padding-top: 80px;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.project-row {
    display: flex;
    align-items: center;
    gap: 60px;
}

.project-row.reverse {
    flex-direction: row-reverse;
}

/* ===== Content ===== */

.project-content {
    flex: 1;
}

.project-content h3 {
    font-size: 26px;
    margin-bottom: 14px;
    color: var(--text-primary);
}

.project-content p {
    font-size: 15px;
    line-height: 1.7;
    color: var(--text-secondary);
    margin-bottom: 18px;
}

.project-tech {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.project-tech span {
    padding: 5px 14px;
    font-size: 12px;
    border-radius: 10px;
    border: 1px solid var(--btn-hover-color);
    color: var(--main-color);
}

/* ===== Buttons ===== */

.project-links {
    display: flex;
    gap: 14px;
}

.project-links a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 8px 18px;
    border-radius: 5px;
    border: 1px solid var(--btn-hover-color);
    color: var(--main-color);
    font-size: 14px;
    transition: all 0.3s ease;
}

.project-links a:hover {
    background-color: var(--btn-hover-color);
    color: var(--white);
}

/* ===== Image ===== */

.project-image {
    flex: 1;
    max-width: 500px;
}

.project-image img {
    width: 100%;
    height: 250px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    transition: all 0.3s ease;

}

.project-image img:hover {
    transform: translateY(-6px);
    box-shadow: 2px 2px 5px rgba(39, 224, 179, 0.3);
}

/* ===== Responsive ===== */

@media (max-width: 992px) {

    .project-row,
    .project-row.reverse {
        flex-direction: column;
        gap: 30px;
    }

    .project-content h3 {
        font-size: 22px;
    }

    .project-image {
        max-width: 100%;
    }
}