.hero {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 5%;
}

/* ================= PROFILE IMAGE ================= */

.hero .profile-img {
    z-index: -1;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 60px auto 30px auto;
    border: 4px solid var(--main-color);
    filter: drop-shadow(0px 0px 3em #08b08674);
    position: relative;
    animation: bounce 3s ease-in-out infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

/* ================= TYPEWRITER CURSOR ================= */

#typewriter::after {
    content: "|";
    margin-left: 5px;
    animation: blink 1s infinite;
    display: inline-block;
    transform: translateY(-2px);
}

@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

.hero h1 {
    color: var(--text-primary) !important;
    font-size: 60px;
    font-family: 'Times New Roman', serif;
    line-height: 1.15;
}

.hero h2 span {
    font-size: 45px;
    color: var(--main-color);
    font-family: 'Times New Roman', serif;
    font-weight: 600;
}


.hero p {
    color: var(--text-secondary);
    width: 100%;
    max-width: 900px;
    margin: 0 auto 15px auto;
    line-height: 1.6;
}

/* ================== Media queries ================ */

/* mobile - small screen*/

@media (max-width: 576px) {

    .hero {
        padding: 20px 10px;
    }

    .hero .profile-img {
        width: 180px;
        height: 180px;
        margin-top: 40px;
    }

    .hero h1 {
        font-size: 40px;
    }

    .hero h2 span {
        font-size: 35px;
    }

    .hero p {
        font-size: 16px;
        max-width: 95%;
    }
}

/* tablets - medium screen  */

@media (min-width: 577px) and (max-width: 992px) {

    .hero {
        padding: 40px 20px;
    }

    .hero .profile-img {
        width: 220px;
        height: 220px;
        margin-top: 50px;
    }

    .hero h1 {
        font-size: 50px;
    }

    .hero h2 span {
        font-size: 56px;
    }

    .hero p {
        font-size: 16px;
        max-width: 80%;
    }
}

/* desktop - large screen */


@media (min-width: 993px) {

    .hero p {
        max-width: 900px;
    }
}


