.about-section {
  /* margin-top: 5%; */
  position: relative;
  background-color: var(--bg-secondary);
  padding: 70px 20px;
  clip-path: polygon(0 0,
      100% 0,
      100% 90%,
      50% 100%,
      0 90%);
}


.about-section p {
  text-align: center;
  flex-wrap: wrap;
  color: var(--text-secondary);
  width: 100%;
  max-width: 950px;
  margin: 0 auto 15px auto;
  font-size: 18px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
  width: 100%;
  max-width: 895px;
  margin: 0 auto;
}

.skill-card {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px 15px;
  background: transparent;
  border: 1px solid var(--main-color);
  border-radius: 14px;
  box-shadow: 3px 3px 10px rgba(57, 124, 108, 0.372);
  transition: all 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 2px 10px rgba(37, 244, 192, 0.401);
}

.skill-card img {
  width: 35px;
  height: 35px;
  background: var(--white);
  padding: 6px;
  border-radius: 10px;
}

.skill-card h4 {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  color: var(--text-primary);
}

.skill-card p {
  margin: 2px 0 0;
  font-size: 12px;
  color: var(--text-muted);
}

/* ================= RESPONSIVE ================= */

@media (min-width: 577px) and (max-width: 992px) {
  .about-section {
    margin-top: 5%;
    position: relative;
    background-color: var(--bg-secondary);
    padding: 40px 20px;
    clip-path: none
  }

  .skills-grid {
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    max-width: 860px;
    gap: 15px;
    margin: 0 auto;
  }

  .skill-card h4 {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    color: var(--text-primary);
  }

  .skill-card p {
    margin: 2px 0 0;
    font-size: 10px;
    color: var(--text-muted);
  }

}

@media (max-width: 576px) {

  .about-section {
    margin-top: 5%;
    position: relative;
    background-color: var(--bg-secondary);
    padding: 50px 20px;
    clip-path: none
  }

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 360px;
    margin: 0 auto;
  }

  .skill-card {
    width: 100%;
    max-width: 70px;
    padding: 5px;
    border: none;
    box-shadow: none;
  }

  .skill-card:hover {
    box-shadow: none;
  }

  .skill-card img {
    width: 50px;
    height: 50px;
    border-radius: 12px;
  }

  .skill-card h4,
  .skill-card p {
    display: none;
  }
}