/* ============= navbar ================ */
.btn-close {
    background-color: white !important;
}

.offcanvas-end {
    width: 55% !important;
    height: 100vh !important;
    z-index: 1090;
}

.mynav {
    position: relative;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.mynav.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    background-color: var(--bg-primary);
    backdrop-filter: blur(35px);
    border-bottom: 1px solid grey;
}


.mynav.scrolled {
    animation: slideDown 0.3s ease;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}



#logoimg {
    width: 40px;
    height: 40px;
    border: 1px solid var(--bg-primary);
    border-radius: 100%;
    margin: 0 15px;
}

.navbar-brand {
    font-size: var(--font-size-xl);
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    color: var(--main-color) !important;
}

.social-icons {
    color: var(--text-primary);
    font-size: 25px;
}

.social-icons:hover {
    color: var(--main-color);
}

.nav-link {
    color: var(--white) !important;
    position: relative;
    margin: 5px;
    display: inline-block;
}

.nav-link::before {
    content: '';
    background: var(--main-color);
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 6px;
    left: 0;
    transition: width 0.2s ease;
}

.nav-link:hover {
    color: var(--main-color) !important;
}

.nav-link.active::before {
    width: 100%;
}

.nav-link.active {
    color: var(--main-color) !important;
}